<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="quizMapper">
	<resultMap type="QuizDO" id="quizDOResultSet">
		<id property="question" column="QUESTION" />
		<!-- DO에 적어둔 변수명 / DB TABLE 컬럼명 -->
		<result property="answerOne" column="ANSWER"/>
	</resultMap>
	
	<select id="submitAnswer" parameterType="QuizDO" resultMap="quizDOResultSet">
		SELECT * FROM QuizDO 
			WHERE question=#{question}
			AND answerOne=#{answer}
	</select>
</mapper>